
<% vacs.forEach(function(data){ %>

    <div id="abt" class="about">
    <div class="about-area mt-120 pb-90 banner-1">
        <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-6">
        <div class="section-title mb-38 mt-31">
         <div>
            <h2 class=""><span class="">Proprietor: <%=data.proprietor%></span></h2>
            <br>    
            <h2 class=""><span class="">Payment Status <%=data.paymentStatus%></span></h2>
            <br>
            <h2 class=""><span class="">Price: <%=data.price%></span></h2>
            <br>
            <h2 class=""><span class="">Wifi: <%=data.wifi%></span></h2>
            <br>
            <h2 class=""><span class="">Geyser:<%=data.geyser%></span></h2>
            <br>
            <h2 class=""><span class="">Solar: <%=data.solar%></span></h2>
            <br>
            <h2 class=""><span class="">Fridge: <%=data.fridge%></span></h2>
            <br>
            <h2 class=""><span class="">Gas: <%=data.gas%></span></h2>
            <br>
            <div class="payment">
                <a href='https://www.paynow.co.zw/Payment/Link/?q=c2VhcmNoPXNrZWV6ZXIuMDIxJTQwZ21haWwuY29tJmFtb3VudD0wLjAwJnJlZmVyZW5jZT0lMjNWYWNhbmN5U2VhYXJjaFBheW1lbnQmbD0w' target='_blank'><img src='https://www.paynow.co.zw/Content/Buttons/Medium_buttons/button_pay-now_medium.png' style='border:0' /></a>
             </div>

             <div class="mukuru">
                 <img style="width: 400px; height: 200px;" src="mukuru.png" alt="mukuru">
             </div>


             <div class="innbucks">
                 <img style="width: 400px; height: 200px;" src="innbucks.png" alt="innbucks">
             </div>

             
             <br>
        
         </div>        
        </div>
   
        </div>
        </div>
        </div>
        </div>
        </div>
</div>
    
<% }) %>

<br>
<br>