
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">		
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800" rel="stylesheet"> 		
        <link rel="stylesheet" href="css/bootstrap.min.css"> 
        <link rel="stylesheet" href="css/core.css"> 
        <link rel="stylesheet" href="css/shortcode/shortcodes.css"> 
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">  
        <link rel="stylesheet" href="css/style-customizer.css">
    	<link href="#" data-style="styles" rel="stylesheet">  
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>    
    </head>  
    <body>

                <!--Start of topbar-->
                <%- include('./partials/home/topbar.ejs') %>
                <!--End of topbar-->
                             
                <!--Start of Header-->
                <%- include('./partials/home/menu.ejs') %>
                <!--End of Header-->


                <!--Start of Find Area-->
                <%- include('./partials/home/search.ejs') %>
                <!-- End of Find Area -->
              
                <%- include('./partials/home/res.ejs') %>
                <!--End of Featured-->
      
                <!--Start of Footer-->
                <%- include('./partials/home/footer.ejs') %>
                <!--End of Footer--> 
            
        <script src="js/vendor/jquery-1.12.4.min.js"></script>	
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script> 
		<script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
		<script src="lib/nivo-slider/home.js" type="text/javascript"></script>
        <script src="js/waypoints.min.js"></script>			
        <script src="js/jquery.mb.YTPlayer.js"></script>		
        <script src="js/ajax-mail.js"></script>		
        <script src="js/jquery.ajaxchimp.min.js"></script>		
        <script src="js/slick.min.js"></script>	
        <script src="js/style-customizer.js"></script>	
        <script src="js/plugins.js"></script>		
        <script src="js/main.js"></script>
        
    </body>
</html>